<launch>

<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.04191 0.01905 0.19812 3.14159 0 0 base_link laser 10" />
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find create_bringup)/launch/create_2.launch" />
  #### start gmapping ############################################

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link"/>
    <param name="maxUrange" value="5.0"/>
    <param name="maxRange" value="12.0" />
  </node> 

</launch>
